.ComposerAndViewerDemo {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}


.ControlPanel,
.InfoPanel {
  padding: 0.5em 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 12px;
}

.ControlPanel select {
  margin: 0 1em;
}

.ComposerViewerPair {
  display: flex;
  flex-direction: column !important;
  flex: 1;
  min-height: 400px;
  min-width: 400px;
}

.ComposerViewerPair .SubWidget {
  flex: 1 1 auto;
  margin: 0;
  min-width: 300px;
  min-height: 200px;
}

/* .K-Widget {
  height: 100% !important ;
} */

.ComposerViewerPair .SubWidget .K-Chem-Viewer {
  border: 1px solid #ccc;
  border-radius: 0.2em;
}