# VITE_BASE_URL="https://api.ramanchada.ideaconsult.net/"
VITE_BASE_URL="http://127.0.0.1:8000/"
VITE_PREDICTIONS_CORE="vega"
VITE_CHEMICALS_CORE="dsstox"
VITE_SUBJECT_FIELD="dsstox_id_s"
VITE_HSDS_URL="https://hsds.adma.ai"
VITE_HSDS_DOMAIN="/qubounds"
