# VITE_BaseURL="https://api.ramanchada.ideaconsult.net/"
VITE_BaseURL="http://127.0.0.1:8000/"
VITE_PredictionsCore="vega"
VITE_ChemicalsCore="dsstox"
VITE_SubjectField="dsstox_id_s"
VITE_HsdsUrl="https://hsds.adma.ai"
VITE_HsdsDomain="/qubounds"
