.sourcesSelectBtn {
  width: -webkit-fill-available;
  padding: 0.6rem;
  background-color: light-dark(#f3f3f3, #1b1b1b);
  border-radius: 6px;
  color: #282828;
  font-size: 0.8rem;
  font-weight: 600;
  user-select: none;
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 1rem;
}

.selectOptionsSourses {
  border-radius: 6px;
  padding: 0.6rem 0;
  font-size: 0.8rem;
  cursor: pointer;
  user-select: none;
  /* height: 260px; */
  overflow-y: auto;
}

.projectLabel {
  font-size: 0.6rem 9.6px;
  display: block;
  padding: 0.2rem 0.6rem;
  margin: 0.6rem 0;
  width: fit-content;
  background-color: #d9ffd1;
  text-transform: uppercase;
  font-weight: 600;
}

.projectName {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  margin-bottom: 0.6rem;
  height: 26px;
}

.sourceName {
  font-size: 0.7rem;
  color: #282828;
  font-weight: 600;
}

.sourceNameLabel {
  font-size: 0.7rem;
  color: #494949;
  font-weight: 600;
  text-transform: uppercase;
}

.closeSourceBtn {
  cursor: pointer;
  /* margin-left: 1rem; */
}
.selectItem {
  color: #7a7a7a;
}

.selectItem:hover {
  color: #282828;
}

#projectSearch {
  outline: none;
  border: none;
  height: 30px;
  padding: 0 0.6rem;
  border-radius: 6px;
  width: -webkit-fill-available;
}
.sourceItem {
  color: light-dark(#3d3d3d, #fff);
  display: flex;
  gap: 12px;
  justify-content: space-between;
  align-items: center;
  padding: 0.1rem 0.6rem;
  border-left: 5px solid light-dark(#f3f3f3, #323232);
  margin-left: 4px;
}

.sourceItemActive {
  background-color: light-dark(#fff, #3d3d3d);
  border-left: 5px solid #c3ffab;
  color: light-dark(#3d3d3d, #848484);
}

.sourceItem:hover {
  background-color: light-dark(#f6f6f6, #3d3d3d);
  border-left: 5px solid #e2e2e2;
  color: light-dark(#fff, #3d3d3d);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.sourceItemLabel {
  display: flex;
  gap: 12px;
  justify-content: space-between;
  align-items: baseline;
  background: #e1ffd5;
  padding: 0 10px 3px 10px;
  border-radius: 4px;
  text-transform: uppercase;
}

.sourceName {
  color: light-dark(#3d3d3d, #fff);
  width: 20%;
}

.sourceDesc {
  color: light-dark(#3d3d3d, #fff);
  width: 60%;
}
.sourceLicence {
  width: 20%;
  text-align: right;
  font-size: 0.8rem;
  color: #7a7a7a;
}
