.box {
  padding: 6px 20px;
}
.tableContainer {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}
.table {
  border-collapse: collapse;
  width: 100%;
  padding-right: 44px;
}
.tr {
  position: relative;
  width: 100%;
  height: 46px;
  padding: 0 0.6rem;
  font-size: 0.875rem;
  border-bottom: 1px solid #dddddd;
}

.tr:hover {
  background-color: #f9f9f9;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.th {
  text-align: left;
}

.td,
.th {
  padding: 0 0.4rem;
  width: fit-content;
}

.td:last-child,
.th:last-child {
  position: absolute;
  top: 10px;
  right: 0;
}

.tr:first-child {
  z-index: 1;
  background: white;
  position: sticky;
  top: 0;
  padding-left: 6.3rem;
}
.td:nth-child(2) {
  font-size: 14px;
  font-weight: 500;
  color: #0b5990;
}
.table > .tr:first-child:hover {
  background-color: #ffffff;
}

/* ".resizer": {
      position: "absolute",
      opacity: 0,
      top: 0,
      right: 0,
      h: "100%",
      w: "5px",
      bg: "#27bbff",
      cursor: "col-resize",
      userSelect: "none",
      touchAction: "none",
      borderRadius: "6px",
    }, */
.resizer {
  position: absolute;
  opacity: 0;
  top: 0;
  right: 0;
  height: 100%;
  width: 5px;
  background-color: #27bbff;
  cursor: col-resize;
  user-select: none;
  touch-action: none;
  border-radius: 6px;
}
*:hover > .resizer {
  opacity: 1;
}

.resizer.isResizing {
  background-color: #0b5990;
  opacity: 1;
}

.columnVisibilityCheckboxes {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
  padding: 0 8px;
  margin: 0 0 20px 0;
}

.columnVisibilityCheckbox > label > input[type="checkbox"] {
  display: none;
}

.col-visible {
  font-size: 10px;
  font-weight: 600 !important;
  letter-spacing: 0.4px;
  padding: 0.2rem 0.5rem;
  background-color: #696969;
  border: 1px solid #696969;
  border-radius: 4px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
  user-select: none;
}

.col-hidden {
  font-size: 10px;
  font-weight: 600 !important;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  padding: 0.2rem 0.5rem;
  font-weight: 500;
  cursor: pointer;
  border: 1px solid #a4a4a4;
  border-radius: 4px;
  color: #a4a4a4;

  user-select: none;
}
