.box {
  padding: 6px 20px;
}

.table {
  border-collapse: collapse;
  width: 100%;
  padding-right: 44px;
}
.tr {
  position: relative;

  display: flex;
  width: 100%;
  height: 46px;
  padding: 0 0.6rem;
  font-size: 0.875rem;
  gap: 32px;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 1px solid #dddddd;
}

.tr:hover {
  background-color: #f9f9f9;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.td:first-child {
  font-size: 14px;
  font-weight: 500;
  color: #0b5990;
}
.tr:first-child {
  z-index: 1;
  background: white;
  position: sticky;
  top: 0;
  padding-left: 6.3rem;
}
.tr:first-child:hover {
  background-color: transparent;
}

.td:last-child {
  position: absolute;
  right: 7px;
  top: 7px;
}

.th {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 0.875rem;
  text-align: center;
  color: #333;
}

/* ".resizer": {
      position: "absolute",
      opacity: 0,
      top: 0,
      right: 0,
      h: "100%",
      w: "5px",
      bg: "#27bbff",
      cursor: "col-resize",
      userSelect: "none",
      touchAction: "none",
      borderRadius: "6px",
    }, */
.resizer {
  position: absolute;
  opacity: 0;
  top: 0;
  right: 0;
  height: 100%;
  width: 5px;
  background-color: #27bbff;
  cursor: col-resize;
  user-select: none;
  touch-action: none;
  border-radius: 6px;
}
*:hover > .resizer {
  opacity: 1;
}

.resizer.isResizing {
  background-color: #0b5990;
  opacity: 1;
}
