.selectBtn {
  padding: 0.6rem 0;
  /* background-color: #def4ff; */
  border-radius: 6px;
  color: #282828;
  font-size: 0.8rem;
  font-weight: 600;
  user-select: none;
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 1rem;
}

.searchSelectInput {
  height: 30px;
  border-radius: 4px !important;
  border: 1px solid #a1a1a1 !important;
  padding-left: 10px;
  width: 100%;
}
.active {
  font-weight: 700;
}

.searchSelectInput:focus {
  border: 1px solid #0083ab;
  outline: #0083ab;
}

.selectOptions {
  border-radius: 6px;
  padding: 0.6rem 1.2rem;
  font-size: 0.8rem;
  cursor: pointer;
  user-select: none;
  height: 260px;
  overflow-y: auto;
}

.projectLabel {
  font-size: 0.8rem;
  display: block;
  padding: 0.2rem 0.6rem;
  margin: 0.6rem 0;
  width: fit-content;
  background-color: #d9ffd1;
}

.projectName {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
}

.closeBtn {
  cursor: pointer;
  margin-left: 1rem;
}
.selectItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #7a7a7a;
  font-size: 16px;
  height: 30px;
  padding-right: 1rem;
}

.selectItem:hover {
  color: #282828;
  height: 30px;
  padding-right: 1rem;
}
